PORT=5000
MONGODB_URI=mongodb+srv://entreskilladmin:EntreSkill_2026@renteasecluster.w3t6uoo.mongodb.net/EntreSkillHub?retryWrites=true&w=majority&appName=RentEaseCluster
CLIENT_URL=http://localhost:5173
JWT_SECRET=EntreSkillHub@2026
JWT_EXPIRES_IN=7d